.bank-title, h1{
    text-align: center;
}
body{
    padding: 150px;
}
.submit-area{
    margin-top: 60px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 20px;
    border-radius: 12px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
  
}
.withdraw{
    background-color: lightsalmon;
    

}
.balance{
    background-color: orange;
   
}
.status{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
   
}
#balance-update-section{
    margin-bottom: 50px;
}
/* @media( width : 668px ){
    .first-down{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        

    }
} */
